.scroll-to-top {
    background-color: #0f79c5 !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-to-top svg {
    fill: #ffffff !important;
    width: 30px;
}

.searchbar{
    border: solid 3px #0f79c5;
    border-radius: 0.5rem;
    height: 60px;
    background-color: transparent;
    padding: 1rem;
}

.searchbar::placeholder{
    color: #ffffff;
}

.searchbar:focus{
    color: #ffffff;
    border: solid 3px #0f79c5;
}